# dependencies
node_modules/

# builds
dist/
dist-ssr/
*.tsbuildinfo
.vite/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# env
.env
.env.*
!.env.example

# editors / OS
.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store
Thumbs.db
*.local
